<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>添加城市</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./addcity.css" />

</head>
<body>
	<div class="addcity">
		<div class="header">
			<span>添加城市</span>
		</div>
		<div class="search">
			<div class="search_input">
				<img src="../../images/icons/Add_icon_Search@3x.png">
				<input type="text" name="">
			</div>
			
			<span id="prev">取消</span>
		</div>

		<div class="content">
			<div class="content_details">
				<h3>热门城市</h3>
				<div id="emmm">
					<span id="n"><img src="../../images/icons/Add_icon_address@3x.png">定位</span>
					<span>北京市</span>
					<span>上海市</span>
					<span>大连市</span>
					<span>长沙市</span>
					<span>沈阳市</span>
					<span>广州市</span>
					<span>深圳市</span>
					<span>武汉市</span>
				</div>
				
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./addcity.js"></script>
</body>
</html>