<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>城市管理</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./citymanage.css" />


</head>
<body>
	<div class="citymanage">
		<div class="header">
			<span>城市管理</span>
		</div>

		<div class="content">
			<div class="close_start"></div>
			<div>
				
				<span><img src="../../images/icons/Add_icon_address@3x.png">广州市</span>
				<span>26℃</span>
			</div>
			<div>
				<span>深圳市</span>
				<span>28℃</span></div>
			<div>
				<span>佛山市</span>
				<span>22℃</span>
			</div>
			<div>
				<span>肇庆市</span>
				<span>25℃</span>
			</div>
			<div>
				<span>℃</span>
				<span><img src="../../images/icons/Management_btn_increase@3x.png"></span>
			</div>
		</div>
		<div class="close_end">
			<div><img src="../../images/icons/tab bar_slide@3x.png"></div>
		</div>
	</div>
</body>
</html>