<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>一周天气</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./weekweather.css" />


</head>
<body>
	<div class="weekweather">
		<div class="header">
			<div class="head">
				<img id="prev" src="../../images/icons/Login_nav_icon@3x.png" class="fl">
				<img src="../../images/icons/Navigation bar_icon_plane@3x.png" class="fr">
			</div>
		</div>
		<div class="content">
			<!-- 星期一天气 -->
			<div class="date_weather">
				<div class="date_weather_icon">
					<span>
						<img src="../../images/icons/Weather_icon_cloud@3x.png">
						<p>多云</p>
					</span>
				</div>
				<div class="date_weather_details">
					<div class="date_weather_details_list">
						<ul>
							<li>18℃/25℃</li>
							<li>广州市</li>
							<li>星期一</li>
							<li>3月20日</li>
						</ul>
					</div>
					
				</div>
			</div>

			
    		<!-- 星期二天气 -->
			<div class="date_weather sun">
				<div class="date_weather_icon">
					<span>
						<img src="../../images/icons/Weather_icon_sun@3x.png">
						<p>晴</p>
					</span>
				</div>
				<div class="date_weather_details">
					<div class="date_weather_details_list">
						<ul>
							<li>18℃/25℃</li>
							<li>广州市</li>
							<li>星期二</li>
							<li>3月21日</li>
						</ul>
					</div>
					
				</div>
			</div>
			<!-- 星期三天气 -->
			<div class="date_weather rain">
				<div class="date_weather_icon">
					<span>
						<img src="../../images/icons/Weather_icon_rain@3x.png">
						<p>下雨</p>
					</span>
				</div>
				<div class="date_weather_details">
					<div class="date_weather_details_list">
						<ul>
							<li>18℃/25℃</li>
							<li>广州市</li>
							<li>星期三</li>
							<li>3月22日</li>
						</ul>
					</div>
					
				</div>
			</div>
			<!-- 星期四天气 -->
			<div class="date_weather">
				<div class="date_weather_icon">
					<span>
						<img src="../../images/icons/Weather_icon_cloud@3x.png">
						<p>多云</p>
					</span>
				</div>
				<div class="date_weather_details">
					<div class="date_weather_details_list">
						<ul>
							<li>18℃/25℃</li>
							<li>广州市</li>
							<li>星期四</li>
							<li>3月23日</li>
						</ul>
					</div>
					
				</div>
			</div>
			<!-- 星期五天气 -->
			<div class="date_weather sun">
				<div class="date_weather_icon">
					<span>
						<img src="../../images/icons/Weather_icon_sun@3x.png">
						<p>晴</p>
					</span>
				</div>
				<div class="date_weather_details">
					<div class="date_weather_details_list">
						<ul>
							<li>18℃/25℃</li>
							<li>广州市</li>
							<li>星期五</li>
							<li>3月24日</li>
						</ul>
					</div>
					
				</div>
			</div>
			<!-- 星期六天气 -->
			<div class="date_weather rain">
				<div class="date_weather_icon">
					<span>
						<img src="../../images/icons/Weather_icon_rain@3x.png">
						<p>下雨</p>
					</span>
				</div>
				<div class="date_weather_details">
					<div class="date_weather_details_list">
						<ul>
							<li>18℃/25℃</li>
							<li>广州市</li>
							<li>星期六</li>
							<li>3月25日</li>
						</ul>
					</div>
					
				</div>
			</div>
			<!-- 星期天天气 -->
			<div class="date_weather">
				<div class="date_weather_icon">
					<span>
						<img src="../../images/icons/Weather_icon_cloud@3x.png">
						<p>多云</p>
					</span>
				</div>
				<div class="date_weather_details">
					<div class="date_weather_details_list">
						<ul>
							<li>18℃/25℃</li>
							<li>广州市</li>
							<li>星期天</li>
							<li>3月20日</li>
						</ul>
					</div>
					
				</div>
			</div>

		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./weekweather.js"></script>
</body>
</html>