<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title>附近实景</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./near_scene.css" />
</head>
<body>
	<div class="near_scene">

		<div class="header">
			<span id="prev"><img src="../../images/icons/Navigation_icon_back@3x.png"></span>
			<span>附近实景</span>
		</div>

		<div class="content">
			<div class="scene-show">
				<div class="scene-show-pic">
					<img src="../../images/view_image@3x.png">
					<div class="user-pic">
						<img src="../../images/view_Head portrait@3x.png">
					</div>
					<span class="user-name">用户名</span>
				</div>
				<div class="scene-show-details">
					<p>白云山风景名胜区位于广州市北部，距市区约17公里，是九连山脉的南延部分，素有“南越第一山”之称。</p>
					<div class="place">
						<img src="../../images/icons/Management_leftbar_icon@3x.png">
						广州白云山
					</div>

					<div class="trends">
						<span class="trends-left">1分钟前</span>
						<div class="interact">
							<span id="five"><img src="../../images/icons/view_praise_icon@3x.png"></span>
							<span id="num">233</span>
							<span><img src="../../images/icons/view_comments_icon@3x.png"></span>
							<span>666</span>
							<span><img src="../../images/icons/view_release_icon@3x.png"></span>
						</div>
					</div>
				</div>

				<div class="break"></div>
			</div>

		</div>
		<div class="content">
			<div class="scene-show">
				<div class="scene-show-pic">
					<img src="../../images/view_image@3x.png">
					<div class="user-pic">
						<img src="../../images/view_Head portrait@3x.png">
					</div>
					<span class="user-name">用户名</span>
				</div>
				<div class="scene-show-details">
					<p>白云山风景名胜区位于广州市北部，距市区约17公里，是九连山脉的南延部分，素有“南越第一山”之称。</p>
					<div class="place">
						<img src="../../images/icons/Management_leftbar_icon@3x.png">
						广州白云山
					</div>

					<div class="trends">
						<span class="trends-left">1分钟前</span>
						<div class="interact">
							<span id="five"><img src="../../images/icons/view_praise_icon@3x.png"></span>
							<span id="num">233</span>
							<span><img src="../../images/icons/view_comments_icon@3x.png"></span>
							<span>666</span>
							<span><img src="../../images/icons/view_release_icon@3x.png"></span>
						</div>
					</div>
				</div>

				<div class="break"></div>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./near_scene.js"></script>
</body>
</html>