<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title>删除城市</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./removecity.css" />
</head>
<body>
	<div class="removecity">
		<div class="header">
			<span>城市管理</span>
		</div>

		<div class="content">
			<div class="close_start"></div>
			<img src="../../images/icons/Add_icon_address@3x.png">
			<div class="citys ">
				
				<span class="frist">广州市</span>
				
				<div class="btn">
					删除
				</div>
				<span class="temp">26℃</span>
			</div>
			<div class="citys">
				<span>深圳市</span>
				
				<div class="btn">
					删除
				</div>
				<span class="temp">28℃</span>
			</div>
			<div class="citys">
				<span>佛山市</span>
				
				<div class="btn">
					删除
				</div>
				<span class="temp">22℃</span>
			</div>
			<div class="citys">
				<span>肇庆市</span>
				
				<div class="btn">
					删除
				</div>
				<span class="temp">25℃</span>
			</div>
			<div class="re_last">
				<span>℃</span>
				<span class="last"><img id="addcity" src="../../images/icons/Management_btn_increase@3x.png"></span>
			</div>
		</div>
		<div class="close_end">
			<div><img src="../../images/icons/tab bar_slide@3x.png"></div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./removecity.js"></script>
</body>
</html>