<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>注册页面</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./register.css" />


</head>
<body>
	<div class="register">
		<div class="header">
				<img id="prev" src="../../images/icons/Login_nav_icon@3x.png">
				<span>注册</span>
			
		</div>

		<div class="content">
			<div class="form">
				<div class="number">
					<span><img src="../../images/icons/Login_icon@3x.png"></span><input type="text" name="" placeholder="输入手机号码">
				</div>

				<div class="number">
					<span><img src="../../images/icons/Registered_icon_verification code@3x.png"></span><input type="text" name="" placeholder="验证码">
				</div>
				<div class="number">
					<span><img src="../../images/icons/Login_icon@3x (2).png"></span><input type="text" name="" placeholder="输入密码">
				</div>

				<div class="number sub">
					<p>立即注册</p>
				</div>							
			</div>
		</div>

		<div class="footer">
			<span class="third">其他方式注册</span>
			<ul class="clearfix">
				<li><img src="../../images/icons/Login_icon_qq@3x.png" alt=""></li>
				<li><img src="../../images/icons/Login_icon_wechat@3x.png" alt=""></li>
				<li><img src="../../images/icons/Login_icon_sina@3x.png" alt=""></li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./register.js"></script>
</body>
</html>