<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title>设置</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./setup.css" />
</head>
<body>
	<div class="setup">
		<div class="header">
			<img id="prev" src="../../images/icons/Navigation_icon_back@3x.png">
			<span>设置</span>
		</div>
		<div class="content">
			<div class="function">
				<span class="fl">更换背景</span>
				<img src="../../images/icons/setup_icon_right@3x.png">
			</div>
			<div class="function">
				<span class="fl">意见反馈</span>
				<img src="../../images/icons/setup_icon_right@3x.png">
			</div>
			<div class="function">
				<span class="fl">关于天天</span>
				<img src="../../images/icons/setup_icon_right@3x.png">
			</div>
			<div class="exit" id="exit">
				<span>退出</span>			
			</div>
		</div>

	</div>
	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./setup.js"></script>
</body>
</html>