<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>启动页</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/swiper-3.4.2.min.css" />
	<link rel="stylesheet" type="text/css" href="./start.css" />
	


</head>
<body>

	<div class="start swiper-container" id="start">
		<ul class="active swiper-wrapper" id="active">
			<li class="swiper-slide"><img src="../../images/start_1.png"></li>
			<li class="swiper-slide"><img src="../../images/start_2.png"></li>
			<li class="swiper-slide" id="last"><img src="../../images/start_3.png"></li>
		</ul>	
		<div class="swiper-pagination"></div>
	</div>
<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="./start.js"></script>
</body>
</html>